.feed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
  justify-items: center;
}

.noPhoto {
  font-size: 1.125rem;
  color: #333;
}

@media (max-width: 640px) {
  .feed {
    grid-template-columns: 1fr 1fr;
  }
}